.nav {list-style-type: none;
  background-color:;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  width:100px;
}
.nav li {display:;
width: px;
}
.nav li a {display:block;

background-color: grey;
}
.nav li .active {background-color: lightgreen;}
