/*this is horizental meu bar using li inline-block*/
.nav {list-style-type: none;
  background-color:grey;  color: ;
  position:;  top:0;
  padding: 0;  border: 1px solid red;
  width:;
  overflow: visible;
}
.nav li {display:inline-block;
width: px;
padding: ;
overflow: visible;
}
@media screen and (max-width:450px) {
  .nav li {display: block;}
}
.nav li a {display:block;
background-color: ;color:white;
text-decoration: none;
padding: 10px 20px;
overflow: hidden;
}

.active {background-color: lightgreen;}
.nav li a:hover:not(.active) {background-color: orange;
color:black;}

.dropdown {display:inline-block;; position: relative;; overflow: visible;}
.dropdown_content {display:none; position:absolute;overflow:visible; z-index:1;}
.dropdown_content a {background-color: red;}
.dropdown:hover .dropdown_content {display:block; position:;}

.container{}
