/*this is horizental meu bar using li inline-block*/
.nav {list-style-type: none;
  background-color:grey;  color: ;
  position:;  top:0;
  padding: 0;  border: 1px solid red;
  width:;
  overflow: ;
}
.nav li {display:inline-block;
width: px;
padding: ;
overflow:;
}
@media screen and (max-width:450px) {
  .nav li {display: block;}
}
.nav li a {display:block;
background-color: ;color:white;
text-decoration: none;
padding: 10px 20px;
overflow:;
}

.active {background-color: lightgreen;}
.nav li a:hover:not(.active) {background-color: orange;
color:black;}

.dropdown {display:;; position: relative;; overflow:;}
.dropdown_content {background-color: red;display:none; position:absolute;overflow:;}
.dropdown_content {}
.dropdown:hover .dropdown_content {display:block; position:;}

.container{}
