/*this is horizental meu bar, using li float no display changed*/

.nav {list-style-type: none;
  background-color:grey;  color: ;
  position:;  top:0;
  padding: 0;  border: 1px solid red;
  width:;
  overflow: auto;
}
.nav li {;
width: ;
padding: ;
float: left;
}
@media screen and (max-width:450px) {
  .nav li {display: ;float: none;
  }
}
.nav li a {display:block;
background-color: ;color:white;
text-decoration: none;
padding: 10px 20px;
overflow: hidden;
}

.active {background-color: lightgreen;}
.nav li a:hover:not(.active) {background-color: orange;
color:black;}
.container{}
