/*this is horizental meu bar*/
.nav {list-style-type: none;
  background-color:grey;  color: ;
  position:;  top:0;
  padding: 0;  border: 1px solid red;
  width:;
  overflow: auto;
}
.nav li {display:inline;
width: px;
padding: ;
}
@media screen and (max-width:500px) {
  .nav li {display: block;}
}
.nav li a {display:;
background-color: ;color:white;
text-decoration: none;
padding: 10px 20px;
overflow: hidden;
}

.active {background-color: lightgreen;}
.nav li a:hover:not(.active) {background-color: orange;
color:black;}
.container{}
